body {
  font-family: "Bebas Neue", cursive;
  font-family: "Dosis", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Orbitron", sans-serif;
  font-family: "Roboto", sans-serif;
  background-image: url(assets/fundo.jpg);
}

.titulo {
  color: LimeGreen;
  font-family: "Audiowide", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Dosis", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Orbitron", sans-serif;
  font-size: 30px;
  display: grid;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 200px;
}

.btn {
  padding: 10%;
}

.login {
  text-align: center;
  padding: 150px;
  font-family: "Audiowide", cursive;
  font-family: "Bebas Neue", cursive;
  font-family: "Dosis", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Orbitron", sans-serif;
}

.setores {
  text-align: center;
  color: LimeGreen;
  font-size: 30px;
  display: grid;
  align-items: center;
  height: 100vh;
}
